.sidebar a{

    display:flex;

    align-items:center;

    gap:12px;

    padding:14px;

    color:white;

    text-decoration:none;

    border-radius:10px;

    transition:.25s;

}

.sidebar a:hover{

    background:#334155;

}

.sidebar .active{

    background:#2563EB;

}