.reports-page{

    padding:30px;

}

.reports-header{

    margin-bottom:30px;

}

.reports-header h1{

    margin:0;

}

.reports-header p{

    color:#666;

    margin-top:5px;

}

@media(max-width:600px){

    .reports-page{

    padding:0;

}
}