.transactions-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.transaction-table{

width:100%;

border-collapse:collapse;

background:white;

border-radius:12px;

overflow:hidden;

}

.transaction-table th,

.transaction-table td{

padding:18px;

text-align:left;

border-bottom:1px solid #eee;

}

.transaction-table tr:hover{

background:#f8fafc;

}